@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.tech-item{
    color: white;
    padding: $medium-spacing;
    text-align: center;
  
    &__img{
        width:3rem;
        height:3rem;
        margin-bottom: $small-spacing;
        @include tablet{
            width:3.5rem;
            height:3.5rem;
        }
        @include desktop{
            width:5rem;
            height:5rem;
        }
    }


    &__text{
        color:white;
    }
   
}