@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.project{
    @include tablet{
        display:flex;
        justify-content: space-evenly;  
        width: 100%;
        gap:$medium-spacing;
        max-width:57rem;
        margin: 0 auto;
    }
    @include desktop{
        max-width:100%;
        margin: 0;
        justify-content: space-between;
        gap:unset;
    }
    &--reverse{
        @extend .project;
        @include tablet{
            flex-direction: row-reverse;
        }
    }
    
    &__content{
        @include tablet{
            width:60%;
        }
        @include desktop{
            width:50%;
        }
        
    }
    &__title-container{
        display:flex;
        justify-content: space-between;
        align-items: baseline;
        
    }
    &__title{
        @include styleText($m-section-subheading-fs,700);
        color:$secondary-color;
        margin-bottom: $small-spacing;
        @include tablet{
            @include styleText($t-section-subheading-fs,700);
        }
        @include desktop{
            @include styleText($d-section-subheading-fs,700);
        }
    }
    &__in-development{
        @include styleText($m-in-development-fs,700);
        color:$secondary-text-color;
        @include tablet{
            @include styleText($t-in-development-fs,700);
        }
        @include desktop{
            @include styleText($d-in-development-fs,700);
        }
    }
    &__description{
        @include styleText($m-body-fs,400);
        color:$primary-text-color;
        line-height: $m-body-lh;
        margin-bottom: $small-spacing;
        max-width: min(34rem,100%);
        @include tablet{
            @include styleText($t-body-fs,400);
            line-height: $t-body-lh;
            max-width: 100%;
        }
        @include desktop{
            @include styleText($d-body-fs,400);
            line-height: $d-body-lh;
        }
    }
    &__image-container{
        width:16rem;
        height:25rem;
        background-color: #D9D9D9;
        margin: $medium-spacing auto;
        @include tablet{
            height:23rem;
            margin:0;
        }
        @include desktop{
            height:25rem;
            width:30rem;
            align-self:center;
           
        }
        
    }
    &__content-layout{
        @include tablet{
            display: flex;
            justify-content: space-between;
        }
        
    }
    &__features{
        @include tablet{
            width:50%
        }
    }
    &__features-container{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: .5rem;
        @include tablet{
            flex-flow: column nowrap;
        }

    }
    &__feature{
        flex-basis:50%;
        margin-bottom: .5rem;
        @include styleText($m-body-fs,400);
        @include tablet{
            @include styleText($t-body-fs,400); 
        }
        @include desktop{
            @include styleText($d-body-fs,400); 
        }
        
    }
    &__tech-stack{
        
    }
    &__tech-stack-container{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width:12rem;
        margin: $small-spacing auto;
    }
    &__tech-item{
        margin-bottom: 1rem;
       
    }
}