@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.tech-list{
    display: flex;
    align-items: center;
    list-style-type:none;
    animation: 20s slide infinite linear;
    @include desktop{
        gap:$small-spacing;
    }

    &__section{
        background-color: $secondary-color;
        overflow: hidden;
        display: flex;
        @include desktop{
            padding: $small-spacing 0;
        }
    }
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    from{
        transform: translateX(-100%);
    }
}