@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    padding: $extra-small-spacing 1.2rem;
    transition: all .2s ease-out;

    @include tablet{
        padding: $extra-small-spacing 2.25rem;
    }

    &:hover {
        border-color: white;
        color:white;
        background-color: $primary-color;
    }

    &__icon{
        margin-left: $extra-small-spacing;
        @include tablet{
            height:1.5rem;
        }
    }
    
    &--contact{
        @extend .button;
        @include styleText($m-button-fs,700);
        color:$primary-color;
        border: 2px solid $primary-color;
        background-color: white;

        @include tablet{
            @include styleText($t-button-fs,700);
        }
         
    }

    &--projects{
        @extend .button;
        @include styleText($m-button-fs,700);
        color: white;
        border: 2px solid white;
        background-color: transparent;
        padding:$extra-small-spacing;
        @include tablet{
            @include styleText($t-button-fs,700);
            padding:$extra-small-spacing $small-spacing;
            margin-left:$medium-spacing
        }

    }

    &--resume{
        @extend .button--projects;
        padding: $extra-small-spacing 1.5rem;
        margin-right: clamp($medium-spacing,10vw,5rem);
        margin-bottom: 1.5rem;
        @include tablet{
           margin-right: 3rem;
        }
    }
}