@use '../../../styles//partials/mixins' as *;
@use '../../../styles//partials/variables' as *;

.nav{
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 $small-spacing;
    @include tablet{
        padding:0 $large-spacing;
    }
    @include desktop{
        padding:0 $extra-large-spacing;
    }
    &__links{
       display:flex;
       gap:$extra-large-spacing;
       list-style: none;
       @include desktop{
        gap:3rem;
    }
    }

    &__link{
        color:white;
        text-decoration: none;
        @include tablet{
            @include styleText($t-nav-link-fs,400)
        }
        @include desktop{
            @include styleText($d-nav-link-fs,400)
        }
     }
     &__link:hover {
        border-bottom: 2px white solid;
     }
}
.logo{
    display: flex;
    align-items: center;
    padding: $small-spacing 0;

    &__icon{
        height:2.2rem;
        margin-right: $small-spacing;
        @include tablet{
            height: 3rem;
        }
        @include desktop{
            height: 3.5rem;
            margin-right: $medium-spacing;
        }
    }

    &__text{
        font-size: $m-logo-fs;
        color:white;
        @include tablet{
            font-size: $t-logo-fs;
        }
        @include desktop{
            font-size: $d-logo-fs;
        }
    }
    
}