@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.form-section{
    padding: $small-spacing;
    padding-bottom: 3rem;
    position: relative;
    @include tablet{
        padding: $medium-spacing;
    }
    @include desktop{
        padding: $large-spacing;
        max-width: $desktop-max-width;
        margin:0 auto;
    }
}

.form{
    width:16rem;
    margin: 0 auto;
    padding: $medium-spacing 1.25rem ;
    border-radius:2rem;
    border: 3px solid $primary-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 1rem 1rem $primary-color,0px 3px 5px rgba(0,0,0,0.2);
    background-color: white;

    @include tablet{
        padding: 2rem 1.75rem ;
        width:23.5rem;
        margin: 0;
        margin-left: 10%;
        margin-bottom:2rem;
    }
    @include desktop{
        width:27rem;
        margin-left: 0;
    }

    &__label{
        @include styleText($m-body-fs,400);
        margin-bottom: .2rem;
        @include tablet{
            @include styleText($t-body-fs,400);
            margin-bottom: .5rem;
        }
        @include desktop{
            @include styleText($d-body-fs,400);
            margin-bottom: .75rem;
        }
    }

    &__input{
        border-radius:.625rem;
        box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
        height:2rem;
        width: 85%;
        background-image: linear-gradient(to bottom, $input-gradient-dark,$input-gradient-light);
        border:none;
        margin-bottom: $small-spacing;
        &--error{
            @extend .form__input;
            background-image: linear-gradient(to bottom, $error-gradient-dark,$error-gradient-light);
        }

        @include tablet{
            height: 2.75rem;
        }
        @include desktop{
            height: 3rem;
        }
    }

    &__textarea{
        @extend .form__input;
        height:6rem;
        resize: none;
        @include tablet{
            height: 7.5rem;
            margin-bottom:2.5rem;
        }
       
    }
    &__img{
        height:clamp(12rem,50vw,22rem);
        position:absolute;
        z-index: -2;
        right:0;
        top:10rem;
        @include tablet{
            display: block;
            height: 35rem;
            top:15rem;
            right:5%;
        }

        @include desktop{
            display: block;
            height: 35rem;
            top:19rem;
            right:5%;
        }
    }

    &__title{
        margin-bottom:$small-spacing;
    }
    &__text{
        margin:$small-spacing 0;
        margin-bottom: 7rem;
        max-width: min(34rem,100%);
        @include tablet{
            margin-bottom: 2rem;
            max-width: 75%;
        }
        @include desktop{
            max-width: 60%;
        }
    }
    &__button{
        align-self: flex-end;
        @include styleText(1rem,400);
        color: white;
        padding: .5rem $medium-spacing;
        background-color: $primary-color;
        box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
        border-radius: .625rem;
        border: 3px solid $input-gradient-dark;
        @include tablet{
            @include styleText(1.375rem,400);
            padding: .75rem 3rem;
            
        }
    }


}



