@font-face {
    font-family: "Content";
    font-weight:400;
    src: url("../../assets/fonts/Content-Regular.woff") format("woff");
         
}

@font-face {
    font-family: "Content";
    font-weight:700;
    src: url("../../assets/fonts/Content-Bold.woff") format("woff");
         
}