@font-face {
    font-family: 'Nokora';
    font-weight:300;
    src: url("../../assets/fonts/Nokora/Nokora-Light.ttf") format('truetype');
         
}

@font-face {
    font-family: 'Nokora';
    font-weight:400;
    src: url("../../assets/fonts/Nokora/Nokora-Regular.ttf") format('truetype');
         
}

@font-face {
    font-family: "Nokora";
    font-weight:700;
    src: url("../../assets/fonts/Nokora/Nokora-Bold.ttf") format('truetype');
         
}