//COLORS

$primary-color:#0D7CA0;
$secondary-color:#0E1232;

$primary-text-color:#2A2525;
$secondary-text-color:#5F6171;

$gradient-color:#0313A7;

//MOBILE TEXT STYLES

$m-Page-header-fs:1.5rem;
$m-section-header-fs:.75rem;
$m-Sub-header-fs:.8125rem;
$m-body-fs:.8125rem;
$m-label-fs:.625rem;
$m-button-fs:.625rem;