@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
.project-section{
    padding: $small-spacing;
    padding-bottom: 0;
    @include tablet{
        padding: $medium-spacing;
    }
    @include desktop{
        padding: $large-spacing;
        max-width: $desktop-max-width;
        margin:0 auto;
    }
    &__title{
        color:$primary-color;
        @include styleText($m-section-heading-fs,700);
        margin:$small-spacing 0;
        @include tablet{
            @include styleText($t-section-heading-fs,700);
            margin:$medium-spacing 0;
        }
        @include desktop{
            @include styleText($d-section-heading-fs,700);
            margin:$medium-spacing 0;
        }
    }
    
}

.projects{
    display: flex;
    flex-direction: column;
    gap:$medium-spacing;
    @include desktop{
        gap:$extra-large-spacing;
    }
}