@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header{
    position: relative;
    z-index:0;
    min-height: 32.5rem;
    background-image: linear-gradient(to bottom right,$gradient-color,$primary-color,$gradient-color);
    overflow: hidden;
    color:white;
    

    //CONTAINERS

    &__content-container{
        padding: $small-spacing;
        display:flex;
        flex-direction: column;
        @include tablet{
            padding: $large-spacing;
        }
        @include desktop{
            max-width: $desktop-max-width;
            margin: 0 auto;
        }
    }

    &__button-container{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 3.75rem;
        gap:$small-spacing;
        @include tablet{
            gap:$medium-spacing;
        }
        @include tablet{
            gap:$large-spacing;
        }
    }
    &__resume-container{
        position: relative;
        z-index: 2;
        display:flex;
        align-items: flex-end;
        justify-content: flex-end;
        height: 10rem;
        background-image: url('../../assets/design/rectangle.svg');
        background-repeat: no-repeat;
        background-size: cover;
        @include tablet{
            background-image: url('../../assets/design/rectangle-tablet.svg');
        }
        @include desktop{
            height: 12rem;
            background-image: url('../../assets/design/rectangle-desktop.svg');
        }
    }

    //HEADER ELEMENTS

    &__title{
        @include styleText($m-hero-subheading-fs,400);
        @include tablet{
            @include styleText($t-hero-subheading-fs,400);
        }
        @include desktop{
            @include styleText($d-hero-subheading-fs,400);
        }
    
        &--name{
            display: block;
            @include styleText($m-hero-main-heading-fs,700);
            margin:$extra-small-spacing auto;

            @include tablet{
                @include styleText($t-hero-main-heading-fs,700);
                margin:$small-spacing auto;
            }
            @include desktop{
                @include styleText($d-hero-main-heading-fs,700);
            }
        }
    }

    &__profile-picture{
        height:clamp(18rem,75vw,23rem);
        position: absolute;
        right:-3rem;
        bottom: 3.5rem;
        z-index: 1;
        @include tablet{
            height:clamp(28rem,50vw,32rem);
            right:max(2rem,6vw)
        }
        @include desktop{
            height:40rem;
            
            //height:clamp(28rem,50vw,32rem);
            right:max(2rem,10vw)
        }
       
    }

    

}

