@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.footer{
    background-color: $secondary-color;
    color: white;
    padding: $medium-spacing $small-spacing;
    @include tablet{
        padding: $large-spacing $medium-spacing;
    }
    @include desktop{
        padding: $extra-large-spacing;
    }
   

    &__title{
        @include styleText($m-footer-heading-fs,700);
        margin-bottom: $extra-small-spacing;
        @include tablet{
            @include styleText($t-footer-heading-fs,700);
        }
        @include desktop{
            @include styleText($d-footer-heading-fs,700);
            margin-bottom: $small-spacing;
        }
    }
    &__text{
        color:white;
        @include tablet{
            width: 80%;
        }
        @include desktop{
            width: 60%;
        }
    }
    &__links-container{
        margin: $large-spacing auto;
        list-style: none;
        @include tablet{
            margin: 0;
            margin-top: .5rem;
            display: flex;
            gap:1.5rem;
            justify-content: space-between;
        }
    }
    &__link-container{
        margin-bottom: .75rem;
    }
    &__link{
        text-decoration: none;
        color:white;
        margin-bottom: $small-spacing;
        @include styleText($m-footer-link-fs,400);
        @include tablet{
            @include styleText($t-footer-link-fs,400);
        }
        @include desktop{
            @include styleText($d-footer-link-fs,400);
        }

        &:hover{
            padding-bottom: .2rem;
            border-bottom: 2px white solid;;
        }
    }
    &__icon-list{
        display:flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        gap:$small-spacing;
    }
    &__icon-container{
        padding: .75rem;
        border-radius: 50%;
        border: 2px white solid;
        display:flex;
        justify-content:center;
        align-items: center;
        @include desktop{
            padding:1rem;
        }
        &:hover{
            background: linear-gradient(to right, $primary-color, purple);
        }

    }

    &__anchor{
        width:1.5rem;
        height:1.5rem;
        @include tablet{
            width:1.75rem;
            height:1.75rem;
        }
        @include desktop{
            width:2rem;
            height:2rem;
        }
    }
    &__icon{
        width:1.5rem;
        height:1.5rem;
        @include tablet{
            width:1.75rem;
            height:1.75rem;
        }
        @include desktop{
            width:2rem;
            height:2rem;
        }
    }
}

.layout-container-text{
    @include tablet{
        width: 50%;
    }
}

.layout-container{
    @include tablet{
        display: flex;
        justify-content: space-between;
    }
    
}