@use './styles/partials/mixins' as *;
@use './styles//partials/variables'as *;
@use './styles/partials/fonts' as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body{
    font-family: "Content", Verdana, sans-serif;
}