@use './styles/partials/mixins' as *;
@use './styles//partials/variables'as *;
@use './styles/partials/fonts' as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body{
    font-family: 'Nokora','Open Sans';
    font-weight: 400;
    color:$primary-text-color;
}

.main{
    padding: $small-spacing;
    @include tablet{
        padding: $medium-spacing;
    }
    @include desktop{
        padding: $large-spacing;
        max-width: $desktop-max-width;
    }
}