@use './styles/partials/mixins' as *;
@use './styles//partials/variables'as *;
@use './styles/partials/fonts' as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Nokora','Open Sans';
    color:$primary-text-color;
}

p{
    color:$primary-text-color;
    @include styleText($m-body-fs,400);
    line-height: $m-body-lh;
    @include tablet{
        @include styleText($t-body-fs,400);
        line-height: $t-body-lh;
    }
    @include desktop{
        @include styleText($d-body-fs,400);
        line-height: $d-body-lh;
    }
}

h2{
    color:$primary-color;
    @include styleText($m-section-heading-fs,700);
    margin:$small-spacing 0;
    @include tablet{
        @include styleText($t-section-heading-fs,700);
    }
    @include desktop{
        @include styleText($d-section-heading-fs,700);
    }
}

button{
    cursor: pointer;
}