@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.about-section{
    padding: $small-spacing;
    @include tablet{
        padding: $medium-spacing;
    }
    @include desktop{
        padding: $large-spacing;
        max-width: $desktop-max-width;
        margin :0 auto;
    }
    &__title{
        margin:$small-spacing 0;
    }
    &__text{
        
        margin:$small-spacing 0;
        max-width: min(34rem,100%);
        @include tablet{
            max-width: 100%;
        }
        @include desktop{
            max-width: 100%;
        }

        &--full-width{
            @extend .about-section__text;
            width: 100%;
            @include desktop{
                width: 50%;
            }
        }
    }
}

.layout-container-text{
    @include tablet{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 50%;
    }
   
}
.layout-container{
    @include tablet{
        display:flex;
    }   
    @include desktop{
       height:26rem;
    }
   
    
}